<!DOCTYPE html>
<html>
  <head>
<link href="https://fonts.googleapis.com/css?family=Source Code Pro" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <style>
body{
  background-image: url("https://www.natrajindiancuisinevietnam.com/img/slider/slide01.jpg");   
  background-size: cover;  
  margin: 0;
    }

hr {
  background: rgb(30, 30, 40);
  color: white;
}
table { 
  border-collapse: collapse;
  height: 550px;
  display: inline-block; 
  overflow: auto;

}
table th {
position:sticky;
top:0;
}

.title{
  background: rgb(30, 30, 40);
  color: white;
  font-family: 'Source Code Pro';
}
</style>
</head>

  <head>
  <title>Chennai Chimney</title> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="static/table.css" type="text/css">
      
    <div class="topnav">
       <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/restabout" class="w3-bar-item w3-button"><b>Re</b> Eats</a>

        <div class="w3-right w3-hide-small">
          <a href="/restabout" class="w3-bar-item w3-button">Home<i class="	glyphicon glyphicon-home"></i></a>
          <a href="/restFP" class="w3-bar-item w3-button">Menu<span class="glyphicon glyphicon-menu-hamburger"></span></a>          
          <a href="/restDiscount" class="w3-bar-item w3-button">Active Discounts<span class="glyphicon glyphicon-shopping-cart"></span></a>
          <a href="/restAccount" class="w3-bar-item w3-button">Account<span class="glyphicon glyphicon-user"></span></a>
          <a href="/restFeedback" class="w3-bar-item w3-button">Feedback<span class="glyphicon glyphicon-comment"></span></a>
          <a href="/logout" class="w3-bar-item w3-button">Logout<span class="glyphicon glyphicon-log-out"></span></a>
          
          
        </div>
      </div>     
    </div> 

  </head>
  <body>

    <div class="title" >

    <hr color ="black">
 <!--    <form action="/" method="get">
        <label for="restName"></label><br> -->
        <center>
        <label><strong>All Active Discounts
            </strong></label></center>
<!--     </form> -->

    <hr color ="black">
    </div>
    <center>
    <table cellspacing="1" cellpadding="1" style = "align:center">
      <tr>
        <th style = "padding-left: 50px"><strong>Food Item</strong></th>
        <th style = "padding-left: 170px"><strong>Quantity</strong></th>
        <th style = "padding-left: 170px"><strong>List Price</strong></th>
        <th style = "padding-left: 170px"><strong>Discount</strong></th>
        <th style = "padding-left: 170px"><strong>Discounted Price</strong></th>
          </tr>
      {% for item in items %}
      {% if item.getQuantity()|int != 0 %}
        <tr>
          <td style = "padding-left: 50px">{{ item.getFood()}}</td>
          <td style = "padding-left: 170px">{{item.getQuantity()}}</td>
          <td style = "padding-left: 170px">{{item.getPrice()}}</td>
          <td style = "padding-left: 170px" id="price"> {{item.getDiscount()}} </td>
          <td style = "padding-left: 170px" id="price"> {{item.getNewPrice()}} </td>
            </tr>
      {% endif %}
      {% endfor %}
        </table></center>
  </body>
</html>