<!DOCTYPE html>
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Source Code Pro" rel="stylesheet">
<link rel="stylesheet" href="static/userPage.css" type="text/css">
<style>

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  font-family: 'Source Code Pro';
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #b34444;
  color: white;
  font-family: 'Source Code Pro';
}

hr {
  background: rgb(30, 30, 40);
  color: white;
}

.title{
  background: rgb(30, 30, 40);
  color: white;
  font-family: 'Source Code Pro';
}

input[type="submit"] {
  font-family: "Source Code Pro";
  width: 17%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  margin-left:  1172px;
  margin-right: 400px;
  font-weight: 700;
  display: block;
  float: none;
  text-align: center;
}
input [type="submit"]:hover {
  background: #cc4949;
}

</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 

<script>

     // function changeValue(itemNum, newValue) {
     //        if ((itemNum != null) && (newValue != null)) {
     //        document.getElementById("item" + itemNum + "_newPrice").textContent = newValue.toPrecision(3);
     //      }
     //      }

      // function updateDiscount(itemNum, discountVal) {
      //     const url = "/updateDiscount";
      //     data = {
      //       itemNum: itemNum,
      //       discountVal: discountVal
      //     }

          // source:https://www.freecodecamp.org/news/here-is-the-most-popular-ways-to-make-an-http-request-in-javascript-954ce8c95aaa/
      //     $.post(url, data)
      //       .done(function(data) { 
      //         changeValue(data.itemNum, data.discountVal)
      //       })
      // }

      // function applyDiscount(itemNum) {
      //     if (itemNum != null) {
      //         var discount = document.getElementById("item" + itemNum + "_discount").value;
      //     } 

      //     updateDiscount(itemNum, parseFloat(discount));
      // }

      // function getDiscount(itemNum) {
      //     const url = "/getNewPrice";
      //     data = {
      //       itemNum: itemNum,
      //     }

          // source:https://www.freecodecamp.org/news/here-is-the-most-popular-ways-to-make-an-http-request-in-javascript-954ce8c95aaa/
          
      //     alert("before posting")

      //     $.post(url, data)
      //       .done(function(data) { 
      //         return data.discountVal
      //       })
          
      //     alert("after posting")
      // }

      // function submitChecks() {
      //     const url = "/confirmationPage";
      //     data = {
      //       itemNum: itemNum,
      //     }
          
      //     alert("before posting")

      //     $.post(url, data)
      //       .done(function(data) { 
      //         return data.discountVal
      //       })
          
      //     alert("after posting")
      // }
      

</script>

</head>

  <head>
  <title>Chennai Chimney: Available Discounts</title> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <div class="topnav">

     <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>Re</b> Eats</a>

      <div class="w3-right w3-hide-small">

        <a label href = "/userFP" ></label> <span class="w3-bar-item w3-button">Menu</a>

        <a label href = "/userAccount" ></label> <span class="w3-bar-item w3-button">Account</a>

        <a label href = "/userFP" ></label> <span class="w3-bar-item w3-button">Checkout</a>

        <a label href = "/userFeedback" ></label> <span class="w3-bar-item w3-button">Feedback</a>

        <a label href = "/logout" ></label> <span class="w3-bar-item w3-button">Logout</a>

      </div>
    </div>

    </a>
  </div>

  </head>

  <body>
    <div class="title" >

    <hr style="background-color: #1e1e28">

    
 <!--    <form action="/" method="get">
        <label for="restName"></label><br> -->
        <label
          style = "padding-left: 575px"
          ><strong>Chennai Chimney
        </strong></label>
      
<!--     </form> -->

    <hr color ="black">
     </div>

    <form action="/confirmationPage", method="post">
    <table cellspacing="2" cellpadding="2" style = "align:center">  
      <!-- align:"center" -->
      <tr>
        <th><strong>Food Item</strong></th>
        <th><strong>Description</strong></th>
<!--         <td><strong>Dietary Restrictions</strong></td>
 -->    <th><strong>List Price</strong></th>
        <!-- <th><strong>Discount</strong></th> -->
        <th><strong>Discounted Price</strong></th>
        <th><strong>Quantity Available</strong></th>
        <th><strong>Order Quantity</strong></th>
        <th><strong>Select</strong></th>
       </tr>
      {% if restaurant|length == 0%}
      <td>
        No active discounts available at this time!
      </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      {% endif %}

      {% for item in restaurant %}
      {% if item.getDiscount() != 0 and item.getDiscount() != item.getPrice() %}
        <tr>
          <td>{{ item.getFood()}}</td>
          <td>{{ item.getDescription()}}</td>
          <td id="item{{item.getId()}}_price" value={{item.getPrice()}}> {{item.getPrice() }} </td>
          <td id="item{{item.getId()}}_discount" value={{item.getDiscount()}}> {{item.getNewPrice()}} </td>
          <td id="item{{item.getId()}}_quantity" value={{item.getQuantity()}}> {{item.getQuantity()}} </td>
          <!-- source = https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_checkbox -->
          <!-- <td><input type="checkbox" id="item{{item.getId()}}_check" name="check_list[]" value={{item.getId()}}> -->
          <td>
            <label for="quantity"></label><br>
            <input align = "right" style="width:70%"  type="text" id="item{{item.getId()}}_quantity" name="item{{item.getId()}}_quantity" ><br><br>
          </td>
          <td><input type="checkbox" name="check_list[]" value={{item.getId()}}>
          <label for="vehicle1"> </label><br>
          </td>
        </tr>
      {% endif %}
      {% endfor %}

      <!-- <div class="bottomnav">
        <a label href="/restFP"
        >Are you a restaurant owner? Click here!</label>
      </a>
    </div> -->

    </table>
    <p align="center">
    <input type="submit" value="SUBMIT" onclick="submitChecks()">
    </p>
  </form>

  </body>
</html>