@import url(https://fonts.googleapis.com/css?family=Source Code Pro);

body{
background-image: url("https://static.wixstatic.com/media/7d6130_78189d90dd65452099a76457db3e41e3~mv2.jpg/v1/fit/w_2500,h_1330,al_c/7d6130_78189d90dd65452099a76457db3e41e3~mv2.jpg"); 
}

[type="submit"] {
  font-family: "Source Code Pro";
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
